/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    background-color: #e2e8e6;
} */  

/* ====================================================================================== */

/* ====================================================================================== */
/* Todo list app project  */
.dolistapp{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color:#6b9cef;
}
.center_div{
    height: 60%;
    width: 25%;
    border-radius: 20px;
    background-color: #fff;
}
.input{
    text-align: center;
    border: 0px solid white;
    background: transparent;
    border-bottom: 2px solid #9b59b6;
    top: 10px;
    outline: none; 
    width: 75%;
    height: 42px; 
    margin-left: 8px;
    margin-right: 3px;
    border-radius: 5px;
}
.addbtn{ 
    align-items: center;
    font-size: 9px;  
    font-weight: bold; 
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    min-height: 40px; 
    width: 60px;
    border-color: transparent;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
}
.addbtn:hover{ 
    background-color: green;
    transform: scale(1.05, 1.05);
}
ol{
    margin-top: 20px;
    margin-left: 10px;
}
ol li{
    padding-left: 0px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    color: #9b59b6;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.todo_style{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center; 
    background-color: #fff;
}
::placeholder {
    color: rgb(175, 164, 164);
    opacity: 1; 
  }
.todo_style .fa-remove{
min-width: 30px;
height: 5px;  
display: flex; 
padding: 8px;
margin-right: 10px;
justify-content: left;
align-items: center; 
background-color: #9b59b6;
border-radius: 50%;
color: aliceblue;
box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.1);
}
.todo_style .fa-remove:hover{
    background-color: red;
}


@media(max-width:768px) {
    .center_div { 
        width: 55%;
    }

    .todo_style .fa-remove{ 
        display: flex;  
        margin: 0px 15px 0px 15px;
        justify-content: left;
        align-items: center; 
        }
        /* button{
            margin-left: 5px;
            min-height: 40px;
            width: 40px;
            color: #fff;
            font-size: 30px;
        } */

}

/* ====================================================================================== */




